@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');


/* body {
  margin: 0;
  padding: 0;
} */

body,
html {
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans';
  margin: 0;
  padding: 0;
}

.change_nav_bag {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #38a084;
}

.App1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9rem;
}

.blogSection2child2-1 {}

.navBgColo {
  background-image: linear-gradient(#43AD90, #20866A);
  height: 560px;
  /* padding-bottom: 30px; */
}

.navBgImg {
  background-image: url("assests/contactHeaderBgImg.svg");
  background-repeat: no-repeat;

}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
  z-index: 100;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.responsive-nav {
  position: relative;
  width: 50%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  background-color: #43AD90;
  border-radius: 15px;

}

.posiAbsolute {
  position: absolute;
  left: 7rem;
  top: 7rem;
}

.homeNavMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 15px;
}

/* .navlink {
  margin-left: 5rem;
  color: white;
  font-size: 1.5rem;
} */
.navlink {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5rem;
  font-weight: 600;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 10px 20px;
  border: "none";
  border-radius: 25px;
}

.navlink:hover {
  background-color: gray;
  color: white !important;
}


.contactCenter {
  /* display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  height: 200px; */
}

.blogWelcome {
  margin-top: 6rem;
  font-size: 12px;
  margin-bottom: 0;
}

.blogHeader {
  font-size: 2rem;
  margin-top: 0;
  font-weight: 500;
}

.blogInput {
  background-color: #d0d5ee00;
  outline: none;
  height: 25px;
  padding-bottom: 17px;
  color: white;
  border: none;
  width: 22rem;
  opacity: 0.5;
  font-size: 12px;
  /* border-radius: 8px; */
}

.blogInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5;
  font-size: 12px;
  /* Firefox  */
}

.dropdown {
  margin-top: 20px;
  border: none;
  /* width: 100%; */
}


.react-tel-input {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
  margin-top: 20px !important;
  border: 1px solid black !important;
  border-radius: 20px !important;
}




.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #FFFFFF;
  /* border-top: 1px solid black !important;
  border-bottom: 1px solid black !important; */
  border-left: none !important;
  border-radius: 20px !important;
  line-height: 25px;
  height: 35px;
  width: 365px !important;
  outline: none;
}

.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 8px;
  /* border: 1px solid black !important; */
  /* border-radius: 20px; */
  /* border-radius: 20px 0 0 20px !important; */


}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: white !important;
  /* border-left: 1px solid black !important;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important; */
  border: none;
  border-radius: 20px 0 0 20px !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}





.blogInputMain {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 30%;
  background-color: #d0d5ee35;
  outline: none;
  /* width: 55%; */
  height: 25px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
}

.blogInputChild1 {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navInnerMain {
  width: 80%;
  margin: auto;
  display: flex;
}

.contactCenter {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  /* margin-top: 5rem; */
  justify-content: center;
  align-items: center;
  /* padding-bottom: 30px; */
  height: 300px;
}

.imgResponsive1 {
  width: 70%;
  height: auto;
}

.navInnerChild1 {
  width: 65%;
  margin-top: 40px;
}

.navInnerChild2 {
  width: 50%;
  margin-top: 40px;
  text-align: center;
}

.bolgHeading1 {
  margin-bottom: 0;
  color: white;
  margin-top: 0;
  font-weight: 500;
  font-size: 40px;
}

.bolgHeading2 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.navHeadInput1 {
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
  border-radius: 30px;
  width: 80%;
  border: 1px solid black;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  padding-left: 10px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navHeadInput14 {
  /* overflow: hidden; */
  margin-top: 20px;
  text-align: center;
  border-radius: 30px;
  width: 80%;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
}

.navHeadMailInput1 {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 13px;
  height: 25px;
  outline: none;
  border: none;
  width: 100%;
}

.navHeadMailInput2 {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 13px;
  height: 25px;
  outline: none;
  border: none;
  width: 100%;
}

.width50 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.imgright {
  margin-right: 10px;
}

/* .checkboxnav {
  color: black;
} */

.checkboxnav {
  background-color: transparent;
  position: relative;
  border: 2px solid black;

  width: 20px;

  height: 20px;

  -webkit-appearance: none;

  appearance: none;

  cursor: pointer;
  margin-left: 30px;
}






.checkboxnav::after {
  content: '\2713';
  /* Unicode character for checkmark */
  font-size: 18px;
  /* Adjust size of checkmark */
  color: black;
  /* Color of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* Initially hidden */
}

.checkboxnav:checked::after {
  opacity: 1;
  /* Show checkmark when checked */
}



.navLabel {
  display: flex;
  /* align-items: center; */
  font-size: 12px;
  width: 66%;
  margin-top: 10px;
  font-weight: 600;
}

.navLabelChild1 {
  margin-top: 13px;
}

.btn1 {
  color: white;
  cursor: pointer;
  font-size: 21px;
  font-weight: 600;
  background-color: black;
  padding: 14px 95px 14px 95px;
  border-radius: 25px;
  margin-top: 10px;
  border: none;
}

.container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.conChild1H2 {
  /* color: #43AD90;
  font-weight: 600;
  font-size: 30px;
  text-decoration: underline; */
}

.conChild2H2 {
  /* color: gray; */
  /* font-weight: 400;
  font-size: 30px; */
  cursor: pointer;
}

/* .conChild2H2:hover {
  color: #43AD90;
  font-weight: 600;
  text-decoration: underline;
} */

.imgTxtMain {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-image: url("assests/BgHome.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.imgMain {
  /* width: 50%; */
}

.txtMain {
  width: 45%;

}

.txtMainh2 {
  /* text-align: center; */
  margin-bottom: 0;
  font-size: 35px;
}

.txtMainh2-1 {
  /* text-align: center; */
  margin-top: 0;
  font-size: 35px;
  color: #43AD90;
}

.paraMain {
  font-size: 17px;
}

.footerBgColor {
  background-image: linear-gradient(to right, #000000C9, #000000);
  padding: 50px;
  /* margin-top: 9rem; */
  padding-bottom: 10px;
}

/* 
.footerBgColor1 {
  background-image: linear-gradient(to right, #000000C9, #000000);
  padding: 50px;
  margin-top: 4rem;
  padding-bottom: 10px;
} */

.footerMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.footerPara {
  color: white;
  font-size: 13px;
}

.footerChild2 {
  display: flex;
  width: 20%;
}

.footerChild1 {
  width: 20%;
}

.footerChild3 {
  width: 40%;
}

.margright {
  margin-right: 20px;
}

.footerEnd {
  font-size: 12px;
  margin-top: 35px;
  color: white;
  text-align: center;
}

.contactinner-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 4rem;

}

.contactinner-mainChild1 {
  background-color: #2B9276;
  background-image: url("assests/contactInformationBg.svg");
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  width: 45%;
}

.mainChild1Inner {
  padding: 40px 30px 60px 30px;
}

.contactH1 {
  color: white;
  margin-top: 0;
  font-size: 23px;
  margin-bottom: 0;
}

.contactP1 {
  color: white;
  font-size: 13px;
}

.icons-main {
  display: flex;
  margin-top: 20px;
}

.contactIconsPara {
  color: white;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

.icons-main-child1 {
  margin-right: 15px;
}

.icons-main-child2 {
  display: flex;
  align-items: center;
}

.whiteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 8px;
  background-color: white;
}

.whiteBoxMain {
  margin-top: 30px;
}

.mainChild2Heading {
  color: #2B9276;
  font-size: 25px;
  margin-top: 0;
}

.contactinner-mainChild2 {
  width: 50%;
}

.contactInput {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.contactInput:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contactInput1 {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  /* padding: 10px; */
  border-radius: 5px;
}

.contactInput1:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contactInput2 {
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.contactInput2:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contacttextarea {
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;

}

.contacttextarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contactBtn {
  color: white;
  background-color: #20866A;
  border: none;
  border-radius: 30px;
  padding: 10px 30px 8px 30px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;

}

/* blog css  */

.blogSection1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.child1Para {
  font-size: 14px;
}

.hrMarg {
  margin-bottom: 2rem;
  width: 80%;
  /* color: lightgrey; */
  margin-left: auto;
  margin-right: auto;
}

.blogSection2Main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.blogSection2Main-1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.energyHealerPara {
  color: #20866A;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  font-weight: 500;

}

.blogSection2child1 {
  width: 90%;
  margin: auto;
}

.energyHealer {
  border-radius: 5px;
  background-color: #357A6714;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
}

.blogSection2child2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogSection2child2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.blogSecondSpan {
  color: #20866A;
  font-size: 13px;
  text-decoration: underline;
  font-weight: 500;

}

.blogSecondPara {
  font-size: 13px;
}

.imgTextMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgTextMainChild1 {
  display: flex;
  /* margin-right: 15px; */
}

.imgTextMainChild1-1 {
  display: flex;
  margin-right: 15px;
}

.InnerChild1Para {
  font-size: 12px;
  font-weight: 500;
  /* margin-top: 20px; */
  margin: 0;
}

.InnerChild1Para1 {
  font-size: 10px;
  margin: 0;
}

.innerChild1Para2 {
  font-size: 12px;
  margin-left: 10px;
}

.imgTextMaiInnerChild1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.innerChild1Para3 {
  font-size: 13px;
  margin: 0;
}

.imgTextMaiInnerChild1-1 {
  padding-left: 15px;
  border-left: 1px solid black;
}

.latestBlogMain {
  width: 80%;
  margin: auto
}

.cartMain {
  /* display: flex;
  flex-direction: column; */
  cursor: pointer;
  width: 95%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.blogCartMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.blogCartMain1 {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.child1Para {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.child1Para:hover {
  text-decoration: underline;
  color: #20866A;
}

.blogCartChild1 {
  width: 33%;
}

.cartText {
  padding: 10px;
}

.innerCartText {
  font-size: 17px;
}

.innerRead {
  color: #20866A;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.margTop {
  margin-top: 30px;
}

.blogtwoMain {
  width: 60%;
  margin: auto;
}

.twoChild1 {
  font-size: 14px;
}

.twoChild2 {
  font-size: 20px;
  /* font-weight: 600; */
}

.twoChild5 {
  font-size: 16px;
  font-weight: 600;
  color: #20866A;
  margin-left: 15px;

}

.twoChild6 {
  font-size: 12px;
  margin-left: 15px;
}

.sideDiv {

  border-left: 1px solid #20866A;
}

.hrBottom {
  margin-bottom: 4rem;
}



.blogSection2child1-a {
  width: 50%;
}

.input1Main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAreaMain {
  width: 100%;
}

.iconsFooter1 {
  display: flex;
}

.iconsFooter2 {
  display: flex;
}

.containerChild1 {
  width: 60%;
}

.containerChild2 {
  width: 30%;
}

.pinterest {
  color: white;
}

.pinterest:hover {
  color: #20866A;
  cursor: pointer;
}

.insta {
  color: white;
}

.insta:hover {
  color: #20866A;
  cursor: pointer;
}

.twitter {
  color: white;
}

.twitter:hover {
  color: #20866A;
  cursor: pointer;
}

.facebook {
  color: white;
}

.facebook:hover {
  color: #20866A;
  cursor: pointer;
}

.active {
  cursor: pointer;
  /* background-color: #f2f2f2; */
  color: #2B9276;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  /* Add any other styles you want for the active state */
}
































/* media quries  */





@media(max-width:320px) {
  .hideNavLink {
    display: none;
  }

  .navlink {
    margin-left: 0rem;
  }

  .posiAbsolute {
    left: 2rem;
  }

  .navInnerMain {
    flex-direction: column-reverse;
  }

  .navInnerChild1 {
    width: 100%;
  }

  .navInnerChild2 {
    width: 100%;
  }

  .navBgColo {
    height: 892px;
  }

  .imgTxtMain {
    flex-direction: column-reverse !important;
  }

  .txtMain {
    width: 100%;
  }

  .btn1 {
    font-size: 15px;
    padding: 10px 40px 10px 40px;
  }

  .footerMain {
    flex-direction: column;

  }

  .footerChild1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild3 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txtMainh2 {
    font-size: 35px;
  }

  .txtMainh2-1 {
    font-size: 35px;
  }

  .paraMain {
    font-size: 18px;
  }

  .conChild1H2 {
    font-size: 15px;
  }

  .conChild2H2 {
    font-size: 15px;
  }

  .blogSection2Main {
    flex-direction: column-reverse;
  }

  .blogSection2child1 {
    width: 100%;
  }

  .blogSection2child2 {
    width: 100%;
  }

  .child1Para {
    font-size: 5px;
  }

  .blogCartMain {
    flex-direction: column;
  }

  .blogCartMain1 {
    flex-direction: column;
  }

  .blogCartChild1 {
    width: 100%;
  }

  .cartMain {
    margin-top: 30px;
  }

  .blogSection2child1-a {
    width: 100%;
  }

  .input1Main {
    flex-direction: column;
  }

  .input1Child {
    width: 100%;
  }

  .input2Child {
    width: 100%;
    margin-top: 20px;
  }

  .contactinner-main {
    flex-direction: column;
  }

  .contactinner-mainChild1 {
    width: 100%;
  }

  .contactinner-mainChild2 {
    width: 100%;
    margin-top: 25px;
  }

  .react-tel-input .form-control {
    width: 225px !important;
  }

  .imgMain {
    text-align: center;
  }
}


@media (min-width:321px) and (max-width: 480px) {
  .hideNavLink {
    display: none;
  }

  .blogCartMain1 {
    flex-direction: column;
  }

  .imgMain {
    text-align: center;
  }

  .child1Para {
    font-size: 5px;
  }

  .blogCartMain {
    flex-direction: column;
  }

  .blogCartChild1 {
    width: 100%;
  }

  .txtMainh2 {
    font-size: 35px;
  }

  .txtMainh2-1 {
    font-size: 35px;
  }

  .conChild1H2 {
    font-size: 15px;
  }

  .conChild2H2 {
    font-size: 15px;
  }

  .btn1 {
    font-size: 15px;
    padding: 10px 40px 10px 40px;
  }

  .navlink {
    margin-left: 0rem;
  }

  .navInnerMain {
    flex-direction: column-reverse;
  }

  .navInnerChild1 {
    width: 100%;
  }

  .navInnerChild2 {
    width: 100%;
  }

  .navBgColo {
    height: 940px;
  }

  .imgTxtMain {
    flex-direction: column-reverse !important;
  }

  .posiAbsolute {
    left: 2rem;
  }

  /* .navBgColo {
    height: 710px;
  } */

  .txtMain {
    width: 100%;
  }

  .footerMain {
    flex-direction: column;

  }

  .footerChild1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild3 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paraMain {
    font-size: 18px;
  }

  .blogSection2Main {
    flex-direction: column-reverse;
  }

  .blogSection2child1 {
    width: 100%;
  }

  .blogSection2child2 {
    width: 100%;
  }

  .blogCartMain {
    flex-direction: column;
  }

  .cartMain {
    margin-top: 30px;
  }

  .blogSection2child1-a {
    width: 100%;
  }

  .InnerChild1Para {
    font-size: 7px;
  }

  .InnerChild1Para1 {
    font-size: 8px;
  }

  .input1Main {
    flex-direction: column;
  }

  .input1Child {
    width: 100%;
  }

  .input2Child {
    width: 100%;
    margin-top: 20px;
  }

  .contactinner-main {
    flex-direction: column;
  }

  .contactinner-mainChild1 {
    width: 100%;
  }

  .contactinner-mainChild2 {
    width: 100%;
    margin-top: 25px;
  }

  .react-tel-input .form-control {
    width: 225px !important;
  }
}

@media(min-width:481px) and (max-width:576px) {
  .hideNavLink {
    display: none;
  }

  .imgMain {
    text-align: center;
  }

  .conChild1H2 {
    font-size: 25px;
  }

  .blogCartMain {
    flex-direction: column;
  }

  .blogCartChild1 {
    width: 100%;
  }

  .cartMain {
    margin-top: 30px;
  }

  .InnerChild1Para {
    font-size: 7px;
  }

  .InnerChild1Para1 {
    font-size: 8px;
  }

  .child1Para {
    font-size: 5px;
  }

  .conChild2H2 {
    font-size: 25px;
  }

  .navlink {
    margin-left: 0rem;
  }

  .navInnerMain {
    flex-direction: column-reverse;
  }

  .txtMainh2 {
    font-size: 35px;
  }

  .txtMainh2-1 {
    font-size: 35px;
  }

  .navInnerChild1 {
    width: 100%;
  }

  .navInnerChild2 {
    width: 100%;
  }

  .navBgColo {
    height: 940px;
  }

  .navBgColo {
    height: 725px;
  }

  .imgTxtMain {
    flex-direction: column-reverse !important;
  }

  .posiAbsolute {
    left: 3rem;
  }

  .txtMain {
    width: 100%;
  }

  .footerMain {
    flex-direction: column;

  }

  .footerChild1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild3 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paraMain {
    font-size: 18px;
  }

  .innerCartText {
    font-size: 15px;
  }

  .innerCartPara {
    font-size: 14px;
  }

  .innerRead {
    font-size: 13px;
  }

  .blogSection2Main {
    flex-direction: column-reverse;
  }

  .blogSection2child1 {
    width: 100%;
  }

  .blogSection2child2 {
    width: 100%;
  }

  .blogSection2child1-a {
    width: 100%;
  }

  .input1Main {
    flex-direction: column;
  }

  .input1Child {
    width: 100%;
  }

  .input2Child {
    width: 100%;
    margin-top: 20px;
  }

  .contactinner-main {
    flex-direction: column;
  }

  .contactinner-mainChild1 {
    width: 100%;
  }

  .contactinner-mainChild2 {
    width: 100%;
    margin-top: 25px;
  }

  .react-tel-input .form-control {
    width: 360px !important;
  }

}

@media(min-width:576px) and (max-width:768px) {
  .hideNavLink {
    display: none;
  }

  .innerCartText {
    font-size: 15px;
  }

  .imgMain {
    text-align: center;
  }

  .innerCartPara {
    font-size: 14px;
  }

  .innerRead {
    font-size: 13px;
  }

  .txtMainh2 {
    font-size: 35px;
  }

  .txtMainh2-1 {
    font-size: 35px;
  }

  .paraMain {
    font-size: 18px;
  }

  .conChild1H2 {
    font-size: 25px;
  }

  .conChild2H2 {
    font-size: 25px;
  }

  .navlink {
    margin-left: 0rem;
  }

  .navInnerMain {
    flex-direction: column-reverse;
  }

  .navInnerChild1 {
    width: 100%;
  }

  .navInnerChild2 {
    width: 100%;
  }

  .navBgColo {
    height: 840px;
  }

  .imgTxtMain {
    flex-direction: column-reverse !important;
  }

  .posiAbsolute {
    left: 5rem;
  }

  .txtMain {
    width: 100%;
  }

  .footerMain {
    flex-direction: column;

  }

  .footerChild1 {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild3 {
    width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blogSection2Main {
    flex-direction: column-reverse;
  }

  .blogSection2child1 {
    width: 100%;
  }

  .blogSection2child2 {
    width: 100%;
  }

  .child1Para {
    font-size: 11px;
  }

  .blogSection2child1-a {
    width: 100%;
  }

  .input1Main {
    flex-direction: column;
  }

  .input1Child {
    width: 100%;
  }

  .input2Child {
    width: 100%;
    margin-top: 20px;
  }

  .margright {
    margin-right: 10px;
  }


}

@media(min-width:768px) and (max-width:992px) {
  .hideNavLink {
    display: none;
  }

  /* .margright {
    margin-right: 10px;
  } */
  .imgMain {
    text-align: center;
  }

  .input1Main {
    flex-direction: column;
  }

  .react-tel-input .form-control {
    width: 562px !important;
  }

  .input1Child {
    width: 100%;
  }

  .input2Child {
    width: 100%;
    margin-top: 20px;
  }

  .navlink {
    margin-left: 0rem;
  }

  .blogSecondPara {
    font-size: 12px;
  }



  .innerChild1Para2 {
    font-size: 10px;
  }

  .innerChild1Para3 {
    font-size: 10px;
  }

  .InnerChild1Para {
    font-size: 10px;
  }


  .InnerChild1Para1 {
    font-size: 8px;
  }

  .energyHealerH2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .navInnerMain {
    flex-direction: column-reverse;
  }

  .navInnerChild1 {
    width: 100%;
  }

  .navInnerChild2 {
    width: 100%;
  }

  .navBgColo {
    height: 940px;
  }

  .bolgHeading1 {
    font-size: 35px;
  }

  .bolgHeading2 {
    font-size: 35px;
  }

  .imgTxtMain {
    flex-direction: column-reverse !important;
  }

  .txtMain {
    width: 100%;
  }

  .footerMain {
    flex-direction: column;

  }

  .footerChild1 {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerChild3 {
    width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width:992px) and (max-width:1024px) {
  .hide-ico {
    display: none;
  }

  .react-tel-input .form-control {
    width: 330px !important;
  }

}

@media(min-width:1024px) and (max-width:1200px) {
  .hide-ico {
    display: none;
  }

  .react-tel-input .form-control {
    width: 355px !important;
  }
}

@media(min-width:1200px) and (max-width:1384px) {
  .hide-ico {
    display: none;
  }
}

@media(min-width:1384px) and (max-width:1440px) {
  .hide-ico {
    display: none;
  }
}

@media(min-width:1440px) and (max-width:1650px) {
  .navBgColo {
    height: 555px;
  }
}

@media(min-width:1650px) {
  .hide-ico {
    display: none;
  }

  .navBgColo {
    height: 825px;
  }
}